/* GENERAL */

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

html {
	margin: auto;
 	scroll-behavior: smooth;
}

.center, h1, h2 {
	text-align: center;
}

h3 {
	text-align: center;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

a {
	text-decoration: none;
}

h2 {
	color: saddlebrown;
	font-size: 80px;
	margin-top: 100px;
}

/* HEADER */

#restaurantName {
	font-size: 100px;
	font-style: italic;
	color: green;
}

nav {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

nav a {
	font-size: 50px;
	background-color: lightcyan;
	padding: 10px;
}

/* MAIN */

	/* MAIN #gallery */

img {
	width: 800px;
}

#gallery div {
	margin-top: 100px;
	margin-bottom: 100px;
}

	/* MAIN #card, MAIN #menu */

#card section h3, #card section p {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#card section h3, #menu section h3 {
	font-style: oblique;
	color: saddlebrown;
	font-size: 30px;
}

#card section, #menu {
	margin-bottom: 100px;
	margin-left: 50px;
}

/* FOOTER */

footer h2, footer p {
	text-align: center;
	font-style: italic;
}

footer h2 {
	font-size: 40px;
	color: darkorange;
}

footer p {
	font-size: 25px;
	font-weight: bold;
	color: blue;
}

footer div {
	text-align: center;
	font-size: 50px;
	margin-bottom: 100px;
}

footer div a {
	padding: 10px;
	background-color: lightcyan;
}


/* MEDIUM SIZE SCREEN */

@media screen and (min-width: 500px) {

}

/* BIG SIZE SCREEN */

@media screen and (min-width: 1000px) {

}