/* GENERAL */

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

html {
	margin: auto;
 	scroll-behavior: smooth;
}

/* HEADER */

/*nav {
	position: fixed;
	width: 90%;
	display: flex;
	justify-content: space-around;
	background-color: #add8e6;
}*/

/* MAIN */

	/* MAIN #gallery */

.center {
	text-align: center;
}

img {
	width: 800px;
}

#gallery div {
	margin-top: 100px;
	margin-bottom: 100px;
}

/* FOOTER */

/* MEDIUM SIZE SCREEN */

@media screen and (min-width: 500px) {

}

/* BIG SIZE SCREEN */

@media screen and (min-width: 1000px) {

}